
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#f7f7f7;
	width:100%; 
	min-width: $min-width;
	text-align:left;	
	order: 1;	
	-webkit-order: 1;	
	position: relative;
	z-index: 2;
}


.header-top{
	padding: 20px 0 14px;
	border-bottom: 1px solid  #252525;
	position: relative;
	&__logo{
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		margin-left: 4.3%;
		width: 35.6%;
		a{
			display: block;
			width: 271px;
			height: 101px;
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__info{
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		padding-top: 15px;
		width: 34.5%;
	}
	&__adress{
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		color: #252525;
	}
	&__tel{
		font-family: "Bebas Neue";
		font-size: 47px;
		font-weight: 700;
		line-height: 40px;
		color: #252525;
		span{
			font-size: 40px;
			font-weight: 700;
			line-height: 40px;
		}
	}

}
.soc-list{
	margin-top: 7px;
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin-right: -4px;
		padding-right: 25px;
		&:last-child{
			padding-right: 0;
		}
		span{
			position: absolute;
			left: 0;
			top: 0;
		}
		&_mail{
			
			span{
				font-size: 21px;
				left: -1px;
				
			}
			a{
				color: #3346ff;
			}
		}
		&_whatsapp{
			
			span{
				font-size: 21px;
				top: -1px;
				left: -1px;
			}
			a{
				color: #55a019;
			}
		}
		&_viber{
			
			span{
				font-size: 26px;
				top: -1px;
			}
			a{
				color: #a810db;
			}
		}
	}
	&__link{
		font-size: 17px;
		font-weight: 500;
		line-height: 22px;
		position: relative;
		padding-left: 35px;
		transform: scale(1);
		display: block;
		&:hover{
			transform: scale(1.05);
			display: block;
		}
	}

}
.basket{
	display: inline-block;
	vertical-align: top;
	width: 166px;
	padding-top: 20px;
	&__info{
		.icon-basket{
			color: #33b0ff;
			font-size: 47px;
			line-height: 47px;
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
			width: 60px;
			transition: font-size 0.2s;
		}
	}
	&__link{
		&:hover{
			.icon-basket{
				font-size: 50px;
			}
		}
	}
	&__text{
		color: #252525;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		display: block;
		width: 	calc(100% - 65px);
		display: inline-block;
		vertical-align: top;
		padding-top: 5px;
		padding-left: 2px;
		span{
			display: block;
		}
	}
	&__button{
		margin-top: 15px;
		position: relative;
		.button{
			position: absolute;
			&:hover{
				left: -5px;
				top: -2px;
				height: 30px;
				background-color: #a60ada;
				line-height: 30px;
				font-size: 16px;
				padding: 0 9px;
			}

		}
	}

}
nav{
	position: absolute;
	top: 159px;
	left: 0;
	width: 100%;
	transition: background 0.4s;
	&.fixed{
		position: fixed;
		top: 0;
		z-index: 99;
		background: rgba(255,255,255,0.7);
		padding-top: 10px;
	}
}
.nav{
	font-family: "Bebas Neue";
	font-weight: 700;
	&__item{
		list-style-type: none;
		display: inline-block;
		vertical-align: middle;
		margin-right: -4px;
		width: 25%;
		text-align: center;
		&.active{
			.nav__link{
				color: #e9334d;
				&:before{
					opacity: 1 !important;
					width: 100%;
								background: #e9334d;
				}
							&:hover{
				transform: none !important;
				cursor: default;
			}
			}

		}
		&_top{

		}
		&_all{

		}
		&_redirection{

		}
		&_redirection{

		}
	}
	&__link{
		position: relative;
		padding: 0 15px 15px 15px;
		display: block;
		margin: 0 auto;
		font-size: 28px;
		line-height: 30px;
		color: #33b0ff;
		&:before{
			content: '';
			position: absolute;
			display: block;
			width: 0;
			height: 5px;
			border-radius: 5px;
			opacity: 0;
			left: 0;
			bottom: 0;
			transition: width 0.2s;
		}
		&:hover{
			transform: scale(1.125);
			display: block;
			color: #a60ada;
		}

		&_top{
			width: 110px;
		}
		&_all{
			width: 120px;
		}
		&_redirection{
			width: 255px;
		}
		&_super{
			width: 225px;
		}

	}

}
.mobile-menu {
	display: none;
	height: 40px;
	padding: 9px 0;
	right: 0;
	text-transform: uppercase;
	top: 0;
	width: auto;
	z-index: 99999;
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
}
.mobile-menu span {
	margin-right: 5px;
	background-color: #e9334d;
	display: inline-block;
	vertical-align: top;
	height: 2px;
	margin: 8px 3px 0 0;
	position: relative;
	transition: all 0.1s ease-in-out 0s;
	width: 23px;
}
.mobile-menu span:before {
	background: #e9334d none repeat scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: -8px;
	transition: all 0.2s linear 0s;
}
.mobile-menu span:after {
	background: #e9334d none repeat scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	top: auto;
	bottom: -8px;
	transition: all 0.2s linear 0s;
}
.mobile-menu.active span{
	background-color: transparent;
}
.mobile-menu.active span:after {
	left: 3px;
	right: 3px;
	top: 0;
	transform: rotate(45deg);
}
.mobile-menu.active span:before {
	left: 3px;
	right: 3px;
	top: 0;
	transform: rotate(-45deg);
}









@media screen and (max-width: 1024px) {
	.nav__item{
		&_top{
			width: 20%;
		}
		&_all{
			width: 20%;
		}
		&_redirection{
			width: 30%;
		}
		&_redirection{
			width: 30%;
		}
	}
	.header-top__logo{
		margin-left: 10px;
	}
	.header-top__info{
		// width: 47%;
	}
	.basket{
		float: right;
		width: 155px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	.header-top {
		padding: 16px 0 8.8px;
	}
	.header-top__logo{
		margin-left: 0;
		width: 42%;
	}
	.header-top__logo a{
		width: 216.8px;
		height: 80.8px;
	}
	.header-top__info {
		padding-top: 12px;
		width: 36%;
	}
	.header-top__adress {
		font-size: 12px;
		line-height: 16px;
	}
	.header-top__tel {
		font-size: 37.6px;
		line-height: 32px;
	}
	.soc-list {
		margin-top: 5.6px;
	}
	.soc-list__item {
		padding-right: 20px;
	}
	.soc-list__link {
		font-size: 13.6px;
		line-height: 17.6px;
		padding-left: 28px;
	}
	.soc-list__item_mail span {
		font-size: 16.8px;
		left: -1px;
	}
	.soc-list__item_whatsapp span {
		font-size: 16.8px;
		top: -1px;
		left: -1px;
	}
	.soc-list__item_viber span {
		font-size: 20.8px;
		top: -1px;
	}
	.basket {
		width: 124px;
		padding-top: 16px;
	}
	.basket__info .icon-basket {
		font-size: 37.6px;
		line-height: 37.6px;
		width: 48px;
	}
	.basket__text {
		font-size: 12px;
		line-height: 16px;
		width: calc(100% - 52px);
		padding-top: 4px;
		padding-left: 1.6px;
	}
	nav{
		top:120px;
	}
	.nav__link {
		padding: 0 12px 12px 12px;
		font-size: 22.4px;
		line-height: 24px;
	}
	.nav__link_top {
		width: 88px;
	}
	.nav__link:before {
		height: 4px;
	}
	.nav__link_all {
		width: 96px;
	}
	.nav__link_redirection {
		width: 204px;
	}
	.nav__link_super {
		font-size: 22.4px;
		line-height: 24px;
		width: 180px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}
@media screen and (min-width: 768px){
	.nav{
		display: block !important;
	}
}
@media screen and (max-width: 767px) {
	.header-top{
		padding-top: 22px;
	}
	.header-top__info{
		width: 100%;
		text-align: center;
	}
	.basket{
		position: absolute;
		width: 120px;
		right: 0;
		top: 13px;
	}
	.header-top__logo{
		width: auto;
	}
	.header-top__logo a {
		width: 201px;
		height: 73px;
	}
	nav{
		top: 0;
	}
	nav.fixed{
		padding-top: 0;
	}
	.nav{
		display: none;
		background: rgba(255,255,255,0.95);
		padding: 15px 0 5px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	nav.fixed{
		background-color: transparent;
	}
	.toch-wrap{
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		&.scrolid{
			background: rgba(255,255,255,0.7);
		}
	}
	.mobile-menu{
		display: block;
		position: absolute;
		right: 15px;
		top: 0px;
		z-index: 99;

	}
	.nav__item{
		display: block;
		width: 100%;
		a{
			padding-bottom: 5px;
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: 380px){
	.header-top__logo a {
		width: 160px;
		height: 63px;
	}
	.basket__button{
		margin-top: 3px;
	}

}
